$bg-primary: #f4f7f6;
$border-primary: #E6EAEA;
$white: #fff;
$black: #000;
$highlight: #49c5b6;
$red: #df6c4f;
$yellow: #ecd06f;
$green: #3c948b;
$blue: #1a99aa;
$primary: #c6eb38;
$primary-dark: darken($primary, 20%);
