<div class="honest-catering__wrap">
  <honest-carousel [cateringPromoModels]="cateringPromos"></honest-carousel>
</div>
<div class="honest-catering__wrap">
  <div class="honest-catering__title">
    кейтеринг
  </div>
  <div class="honest-catering__sub-title">
    Еда, которая решает.
  </div>
  <div class="honest-catering__description">
    Предоставляем услуги кейтеринга на любое количество гостей
    по индивидуальному меню. Кейтеринг Honest готовит не просто
    вкусную еду – это еда, которая решает ваши задачи.
    Хотите продегустировать нашу кухню, приезжайте в кафе Honest Daily.
  </div>
  <honest-button [modifiers]="['invert']"
                 [text]="'больше про кейтеринг'"
                 [icon]="'fa-chevron-right'"></honest-button>
</div>
<img class="honest-catering__back honest-catering__back_top-left"
     honestParallax
     [ratio]="-0.2"
     src="/assets/catering/basil-leaves.png">
<img class="honest-catering__back honest-catering__back_top-right"
     honestParallax
     [ratio]="-0.2"
     src="/assets/catering/serving-board.png">
<img class="honest-catering__back honest-catering__back_bottom-left"
     src="/assets/catering/grinder.png">
<img class="honest-catering__back honest-catering__back_bottom-right"
     src="/assets/catering/group-21.png">
