.honest-catering {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom, #fefff8, rgba(254, 255, 248, 0.7));
  padding: 200px 0 160px;

  &__wrap {
    width: 540px;
    transition: all 0.8s;
    opacity: 1;
    transform: translateX(0);

    &_animation_left {
      transform: translateX(-500px);
      opacity: 0;
    }
  }

  &__title {
    font-family: Yanone Kaffeesatz, sans-serif;
    font-size: 64px;
    font-weight: bold;
    color: #162036;
    text-transform: uppercase;
    margin: 61px 0 30px;
    transition: all 0.8s;
    opacity: 1;
    transform: translateX(0);

    &_animation_right {
      transform: translateX(500px);
      opacity: 0;
    }
  }

  &__sub-title {
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    line-height: 1.25;
    color: #c6eb38;
    margin-bottom: 30px;
    transition: all 0.8s;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;

    &_animation_right {
      transform: translateX(500px);
      opacity: 0;
    }

  }

  &__description {
    width: 500px;
    font-size: 18px;
    line-height: 1.44;
    color: #8c9ab2;
    margin-bottom: 50px;
    transition: all 0.8s;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.4s;

    &_animation_right {
      transform: translateX(500px);
      opacity: 0;
    }
  }

  &__btn-wrap {
    transition: all 0.8s;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.6s;

    &_animation_right {
      transform: translateX(500px);
      opacity: 0;
    }
  }

  &__back {
    position: absolute;

    &_top-left {
      top: 50px;
      left: 0;
    }

    &_top-right {
      top: 100px;
      right: 0;
    }

    &_bottom-left {
      bottom: 0px;
      left: 0;
    }

    &_bottom-right {
      bottom: 0px;
      right: 0;
    }
  }
}
