.honest-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 160px;
  background-color: #fff;

  &__title {
    font-family: Yanone Kaffeesatz, sans-serif;
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    color: #162036;
    margin: 140px 0 40px;
    text-transform: uppercase;
  }

  &__description {
    width: 540px;
    font-size: 18px;
    line-height: 1.44;
    text-align: center;
    color: #8c9ab2;
    margin-bottom: 60px;
  }
}
