@import "../vars";

.honest-nav-bar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: height 0.35s ease-out, background-color 0.35s ease-out;
  box-sizing: border-box;
  z-index: 100;
  min-width: 1366px;

  &_fixed {
    background-color: rgba($black, 0.5);

    .honest-nav-bar__menu {
      color: $border-primary;
    }
  }

  &__body {
    width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    transition: color 0.35s ease-out;
    width: 100%;
    margin: 60px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.2px;
    margin: 0 26px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &_logo {
      padding-top: 0;
      height: 38px;
      margin: 0 45px;
    }

    &_contacts {
      text-decoration: none;
      color: $white;

      &:visited, &:hover, &:active, &:focus {
        text-decoration: none;
        color: $white;
      }

      .fas {
        font-size: 19px;
        margin-right: 10px;
      }
    }
  }
}
