<div class="honest-nav-bar__body">
  <div class="honest-nav-bar__menu">
    <div class="honest-nav-bar__item">Event услуги</div>
    <div class="honest-nav-bar__item">Кейтеринг</div>
    <img class="honest-nav-bar__item honest-nav-bar__item_logo"
         src="/assets/logo_moscow_white.svg" />
    <div class="honest-nav-bar__item">Площадки</div>
    <a class="honest-nav-bar__item honest-nav-bar__item_contacts"
       href="tel:+74950180485">
      <i class="fas fa-mobile-alt"></i>
      +7 (495) 018-0485
    </a>
  </div>
</div>
