<div class="honest-home__slide-wrap"
     id="home">
  <honest-banner></honest-banner>
</div>
<div class="honest-home__slide-wrap">
  <honest-places id="places"></honest-places>
</div>
<div class="honest-home__slide-wrap">
  <honest-events id="events"></honest-events>
</div>
<div class="honest-home__slide-wrap">
  <honest-catering id="catering"></honest-catering>
</div>
<div class="honest-home__slide-wrap">
  <honest-contacts id="contacts"></honest-contacts>
</div>
<honest-footer></honest-footer>
