@import "../../common/vars";

.honest-home {
  min-width: 1366px;

  &__slide-wrap {
    min-width: 1366px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 100% 100%/60px;
    margin-bottom: -40px;
    z-index: 10;

    &:nth-child(2) {
      z-index: 9;
    }

    &:nth-child(3) {
      z-index: 8;
    }

    &:nth-child(4) {
      z-index: 7;
    }

    &:nth-child(5) {
      z-index: 6;
      margin-bottom: 0;
    }
  }

  &__dummy {
    height: 1000px;
    width: 100%;
  }
}
