@import "../../common/vars";

.honest-home {
  min-width: 1366px;

  &__slide-wrap {
    min-width: 1366px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 100% 100%/60px;
  }

  &__dummy {
    height: 1000px;
    width: 100%;
  }
}
