<div class="honest-footer__wrap">
  <div class="honest-footer__copyright">
    2018, Honest Moscow
  </div>
  <div class="honest-footer__menu-item"
       pageScroll
       [pageScrollTarget]="'#places'">
    площадки
  </div>
  <div class="honest-footer__menu-item"
       pageScroll
       [pageScrollTarget]="'#events'">
    event услуги
  </div>
  <div class="honest-footer__menu-item"
       pageScroll
       [pageScrollTarget]="'#catering'">
    кейтеринг
  </div>
</div>
<div class="honest-footer__wrap honest-footer__wrap_right">
  <a class="honest-footer__contacts"
     href="tel:+74950180485">
    <i class="fas fa-mobile-alt"></i>
    +7 (495) 018-0485
  </a>
  <i class="fab fa-facebook honest-footer__social"></i>
  <i class="fab fa-vk honest-footer__social"></i>
  <i class="fab fa-instagram honest-footer__social"></i>
</div>
