<div class="honest-banner__text">
  <div class="honest-banner__title">
    Лучшие решения
    <br />
    для ваших мероприятий
  </div>
  <div class="honest-banner__description">
    Мы создаем решения для любых мероприятий.
    <br />
    Выбирайте свой формат!
  </div>
  <honest-button [text]="'Заказать мероприятие'"></honest-button>
  <div class="honest-banner__button-wrap">
    <honest-button [modifiers]="['white', 'round']"
                   pageScroll
                   [pageScrollTarget]="'#places'"
                   [icon]="'fa-chevron-down'"></honest-button>
  </div>
</div>
<div class="honest-banner__filter"></div>
<video class="honest-banner__video"
       autoplay="autoplay"
       preload="auto"
       loop="loop">
  <source src="/assets/video/lights.mp4" type="video/mp4">
  <img class="honest-banner__img"
       src="/assets/home.jpg" />
</video>

